.stand {
  position: absolute;
  left: 0;
  top: 0;
}

.head {
  position: absolute;
  left: 215px;
  top: 110px;
  display: none;
}

.body {
  position: absolute;
  left: 230px; 
  top: 125;
  display: none; 
}

.left-hand {
  position: absolute;
  left: 200px;
  top: 157px;  
  display: none; 
}

.right-hand {
  position: absolute;
  left: 230px;
  top: 157px;
  display: none; 
}

.left-leg {
  position: absolute;
  left: 200px;
  top: 216px; 
  display: none; 
}

.right-leg {
  position: absolute;
  left: 255px;
  top: 216px; 
  display: none;
}





